In [1]:
a = "python" # 파이썬은 대소문자를 구별한다 / 문자를 계산한다

In [2]:
print (a)

python

In [3]:
a

'python'

In [7]:
a = 3
if a > 1:
    print("a is greater than 1") # 반드시 들여쓰기

a is greater than 1

In [9]:
for a in[1, 2, 3]:
    print(a)                   # 몇번 돌릴지 정확할때 for문을 사용 / 명확하지 않을떄는 while문

1
2
3

In [10]:
i = 0
while i < 3:
    i = i + 1
    print(i)

1
2
3

In [11]:
def add(a, b): #def = define / add 함수 a , b 인수
    return a + b
add(3, 4)

7

In [14]:
3.4e10

34000000000.0

# 7 % 3 # 나머지 연산자

#

#

In [15]:
7 / 3

2.3333333333333335

In [16]:
7 // 3

2

## 문자형

String 문자열

In [17]:
"""life is too short, you need python"""

'life is too short, you need python'

In [18]:
"Python's favroite food is perl"

"Python's favroite food is perl"

In [19]:
food = "python's favorite food is perl"

In [20]:
food

"python's favorite food is perl"

In [21]:
'"python is ver easy" he says'

'"python is ver easy" he says'

In [22]:
'python\'s favorite food is perl'

"python's favorite food is perl"

In [23]:
"\"python is very easy.\" he says."

'"python is very easy." he says.'

In [24]:
multilines = "life is too short\n you need python"

In [25]:
multilines

'life is too short\n you need python'

multilines

In [28]:
multilines

'life is too short\n you need python'

In [30]:
print(multilines)

life is too short
you need python

In [32]:
head = "python"
tail =" is fun"
head + tail

'python is fun'

In [34]:
a = 'python'
a * 2

'pythonpython'

In [35]:
print("*"* 50)
print("my program")
print("*"* 50)

**************************************************
my program
**************************************************

In [37]:
len # 개수를 셈 + 길이

In [38]:
a = 'life is'
len(a)

7

In [39]:
a = 'Life is too short, you need python' # indexing = 몇번째 위치하는지

In [42]:
a[3] # 파이썬은 0에서 시작한다 L=0 i = 1 f = 2 e = 3   /   a[번호]

'e'

In [44]:
a[-1]

'n'

In [49]:
a = 'Life is too short, you need python' # Slicing [0:4] = 0,1,2,3 = 4미만이다
b = a[0] + a[1] + a[2] + a[3]

In [47]:
b

'Life'

In [48]:
a[0:4]

'Life'

In [50]:
a[19:]

'you need python'

In [51]:
a[:17]

'Life is too short'

In [52]:
a[:]

'Life is too short, you need python'

In [53]:
a[19:-7]

'you need'

In [54]:
a = '20010331Rainy'

In [55]:
date = a[:8]

In [56]:
date

'20010331'

In [57]:
weather = a[8:]

In [58]:
weather

'Rainy'

In [61]:
year = a[0:4]

In [62]:
year

'2001'

In [66]:
a = 'pithon'
a = [0:1]

SyntaxError: invalid syntax (<ipython-input-66-5b12267d44b3>, line 2)

In [67]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [75]:
"I eat %st apples." %three

NameError: name 'three' is not defined

In [82]:
"I eat %s apples." % "three"

'I eat three apples.'

In [74]:
number = 10
day = "three"
'I ate %d apples, so i was sick for %s days ' %(number, day)

'I ate 10 apples, so i was sick for three days '

In [80]:
"%s." % "people"

'people.'

In [79]:
"%10s" % "hi"

'        hi'

In [83]:
"%-10sjane" % 'hi'

'hi        jane'

In [85]:
"%0.4f" % 3.42134234

'3.4213'

In [86]:
"%10.4f" % 3.42134234

'    3.4213'

In [88]:
'I eat {0} apples'. format(3)

'I eat 3 apples'

In [89]:
'I eat {0} apples'. format('five')

'I eat five apples'

In [90]:
number  = 10
day = "three"
"I ate {0} apples, so I was sick for {1}days". format(number, day)

'I ate 10 apples, so I was sick for threedays'

In [93]:
"I ate {number} apples, so I was sick for {day} days.". format(number = 10, day = 3)

'I ate 10 apples, so I was sick for 3 days.'

In [95]:
"I ate {0} apples, so I was sick for {day} days". format(10, day = 3)

'I ate 10 apples, so I was sick for 3 days'

In [96]:
'{0:<10}'. format('hi') # 왼쪽정렬 / > 오른쪽정렬

'hi        '

In [97]:
'{0:^10}'. format('hi') # 중앙위치

'    hi    '

In [99]:
a = 'hobby'
a.count('b')  # 카운트세기

2

In [101]:
a = 'Python is the best choice'
a.find('b') # b 몇번 째에 위치하는지

14

In [102]:
a.find('k') # 존재하지 않으면 -1

-1

In [103]:
a = 'Life is too short'

In [104]:
a.index('t')

8

In [105]:
a.index('p') # 인덱스 같은 경우 에러표시

ValueError: substring not found

In [106]:
','. join('abcd') # 문자열 삽입

'a,b,c,d'

In [108]:
a = 'hi'
a.upper ()

'HI'

In [109]:
a = 'hi'
a.lower ()

'hi'

In [110]:
a = " hi " # 양쪽 공백 지우기 (strip) or lstrip or rstrip (left/right)
a.strip ()

'hi'

In [111]:
a = 'Life is too short'
a.replace("Life", "Your leg")

'Your leg is too short'

In [112]:
a = 'Life is too short'
a.split()

['Life', 'is', 'too', 'short']

In [115]:
b = 'a:b:c:d'
b.split(':')

['a', 'b', 'c', 'd']

In [116]:
#리스트 = mutable 튜플 = immutable

# 리스트

In [134]:
# 리스트 이름 = [요소1, 요소2, 요소3 ...] 대괄호 주의
# 값을 수정하거나 삭제 할수있다

a = []
b = [1, 2, 3]
c = ['life', 'is', 'good']
d = [1, 2, 'life', 'is']
e = [1, 2, ['life', 'is']]

In [118]:
a = [1, 2, 3]
a

[1, 2, 3]

In [119]:
a[0]

1

In [120]:
a[0] + a[2]

4

In [121]:
a[-1]

3

In [122]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [123]:
a[-1]

['a', 'b', 'c']

In [124]:
a[3]

['a', 'b', 'c']

In [125]:
a[-1][0]

'a'

In [127]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [128]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [130]:
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [131]:
a = [1, 2, 3]
len(a)

3

In [132]:
str(a[2]) + 'hi'

'3hi'

In [138]:
a = [1, 2, 3]

In [139]:
a[2] = 4

In [140]:
a

[1, 2, 4]

In [141]:
del a[1]

In [142]:
a

[1, 4]

In [143]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

In [144]:
a.append(7)
a

[1, 2, 7]

In [145]:
a = [1, 4, 3, 2]
a.sort()

In [146]:
a

[1, 2, 3, 4]

In [147]:
a.reverse()

In [148]:
a

[4, 3, 2, 1]

In [150]:
a = ['a', 'c', 'b']

In [162]:
a.sort()

In [158]:
a = ['a', 'c', 'b']

In [161]:
a.sort()

In [163]:
a

['a', 'b', 'c']

In [165]:
a.reverse()

In [166]:
a

['c', 'b', 'a']

In [167]:
a = ['a', 'b', 'c']
a.index('c')

2