In [1]:
a = ['a','c','b']

In [2]:
a.sort(reverse=True)

In [3]:
a

['c', 'b', 'a']

In [4]:
a = [1,2,3]

In [5]:
a.index(2) # index 리스트 안에 변수가 몇번째에 위치하는지

1

In [7]:
a.insert(0,4)

In [8]:
a

[4, 1, 2, 3]

In [9]:
a.pop()

3

In [10]:
a

[4, 1, 2]

In [11]:
a = [1,2,3,1]
a.count(1)

2

In [12]:
t1 = ()

In [13]:
type(t1)

tuple

In [14]:
t4 = 1,2,3

In [15]:
type(t4)

tuple

In [16]:
t2 = 1

In [17]:
a = {'a': [1,2,3]} # key : value

In [18]:
a['name'] = 'pey'

In [19]:
a

{'a': [1, 2, 3], 'name': 'pey'}

In [20]:
a = {'박지성':'축구'}

In [23]:
a['박지성']

'축구'

In [24]:
a.keys()

dict_keys(['박지성'])

In [25]:
a.items()

dict_items([('박지성', '축구')])

In [26]:
# intersections - & /  union - | / difference
# add, update 여러개 추가, remove

In [27]:
a = [1,2,3,4] # True
while a:
    print(a.pop())

4
3
2
1

In [28]:
a = 80
b = 75
c = 55
(a + b + c) / 3

70.0

In [32]:
13 % 2

1

In [42]:
pin = '881120-1068234'

In [43]:
yyyymmdd = pin[:6]

In [45]:
num = pin[7:]

In [47]:
print(yyyymmdd)

881120

In [48]:
print(pin[7])

1

In [50]:
a = 'a:b:c:d'

In [52]:
b = a.replace(':','#')

In [53]:
print(b)

a#b#c#d

In [54]:
a = [1,3,5,4,2]

In [55]:
a.sort(reverse = True)

In [56]:
a

[5, 4, 3, 2, 1]

In [57]:
a = ['Life','is','too','short']

In [61]:
result = " ".join(a)

In [62]:
print(result)

Life is too short

In [65]:
a = 0
while a < 10:
    a = a + 1
    print(a)

1
2
3
4
5
6
7
8
9
10

In [66]:
a = (1,2,3)

In [67]:
a = a + (4,)

In [68]:
a

(1, 2, 3, 4)

In [69]:
test_list = ['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [70]:
marks = [90,25,67,45,80]

number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다." %  number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [72]:
marks = [90,25,67,45,80]

number = 0
for mark in marks:
    number = number + 1
    if mark <= 60:
        continue
    print("%d번 학생은 합격입니다." %  number)

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [73]:
a = range(10)

In [74]:
a

range(0, 10)

In [75]:
add = 0
for i in range(1,11):
    add = add + i

In [76]:
print(add)

55

In [85]:
for i in range(1,11):
    print(i)

1

TypeError: unsupported operand type(s) for %: 'NoneType' and 'int'

In [84]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    print(number)

0
1
2
3
4

In [86]:
for i in range(2,10):
    for j in range(1, 10):
        print(i*j, end=" ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [91]:
for i in range (0,11):
    if i%2 != 1: continue
    print(i)

1
3
5
7
9

In [93]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [94]:
a = [1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [97]:
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 ==0]
print(result)

[6, 12]

In [109]:
i = [1:1001]
while i % 3 == 0:
    i = i + 1
    print(i)

SyntaxError: invalid syntax (<ipython-input-109-2cbaeb7cc1f4>, line 1)

In [110]:


sum = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        sum = sum + i
    i = i + 1
print(sum)

166833

In [120]:
i = 0
while True:
    i = i + 1
    if i > 5: break
    print(i * '*')

*
**
***
****
*****

In [133]:
sum = 0
for i in range(1:101):
    sum = sum + i
    
    
print(sum)

SyntaxError: invalid syntax (<ipython-input-133-83442e016b17>, line 2)

# 함수

In [141]:
def add(a,b):
    return a + b

In [145]:
a = 3
b = 4
c = add(a,b)

In [148]:
d = add(1,2)

In [149]:
def add(a, b):
    result = a + b
    return result

In [150]:
a = add(3,4)
print(a)

7

In [151]:
def say():
    return 'hi'

In [152]:
a = say()
print(a)

hi

In [153]:
def add(a,b):
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [154]:
add(3,4)

3, 4의 합은 7입니다.

In [155]:
def say():
    print('hi')

In [156]:
say()

hi

In [157]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result

In [158]:
result = add_many(1,2,3)
print(result)

6

In [159]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [160]:
def add_mul(choice,*args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
        return result

In [163]:
result = add_mul('add',1,2,3,4,5)
print(result)

None

In [162]:
result = add_mul('mul',1,2,3,4,5)
print(result)

120

In [164]:
def add_and_mul(a,b):
    return a+b, a*b

In [165]:
result = add_and_mul(3,4)

In [166]:
print(result)

(7, 12)

In [167]:
result1, result2 = add_and_mul(3,4)

In [168]:
print(result1)

7

In [169]:
print(result2)

12

In [170]:
def add_and_mul(a,b):
    return a+b
    return a*b

In [171]:
result = add_and_mul(2,3)

In [172]:
print(result)

5

In [173]:
def say_myself(name, old, man=True):
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d살 입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [175]:
say_myself("박용용", 27)
say_myself("박용용", 27, False)

나의 이름은 박용용 입니다.
나이는 27살 입니다.
남자입니다.
나의 이름은 박용용 입니다.
나이는 27살 입니다.
여자입니다.

In [176]:
a = 1
def vartest(a):
    a = a + 1

In [177]:
vartest(a)

In [178]:
print(a)

1

In [179]:
# 지역 변수 : 특정 범위안에서 통용
# 전역 변수 : 전체에서 통용

In [180]:
def vartest(a):
    a = a + 1

In [181]:
vartest(3)

In [182]:
print(a)

1

In [183]:
a = 1
def vartest(a):
    a = a + 1
    return a

a = vartest(a)
print(a)

2

In [184]:
a = 1
def vartest():
    global a
    a = a + 1
    
vartest()
print(a)

2

In [185]:
add = lambda a, b: a+b
result = add(3,4)
print(result)

7

In [186]:
def add(a,b):
    return a+b


result = add(3,4)
print(result)

7

In [187]:
a = input()

Life is too short, you need python

In [188]:
a

'Life is too short, you need python'

In [191]:
number = int(input('숫자를 입력하세요:'))

숫자를 입력하세요:1234

number

In [192]:
number

1234

In [193]:
a = 123
print(a)

123

In [194]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [195]:
f = open('새파일.txt', 'w')
f.close()

In [205]:
f = open('새파일.txt', 'w')
for i in ragne(1, 10):
    data = '%d번째 줄입니다.\n' % i
    f.write(data)
f.close()

NameError: name 'ragne' is not defined

In [200]:
f = open('새파일.txt', 'r')
line = f.readline()
print(line)
f.close()

In [201]:
f = open('새파일.txt', 'r')
while True:
    line = f.readline()
    if no line: break
    print(line)
f.close()

SyntaxError: invalid syntax (<ipython-input-201-10de86629ddb>, line 4)

In [202]:
f = open('새파일.txt', 'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

In [203]:
f = open('새파일.txt', 'r')
data = f.read()
print(data)
f.close()

In [204]:
f = open('새파일.txt', 'a')
for i in range(11,20):
    data = "%d번째 줄입니다. \n" % i
    f.write(data)
f.close()

In [206]:
def is_odd(i):
    if i % 2 == 1:
        return print("홀수")
    else:
        return print("짝수")


is_odd(7)

홀수

In [207]:
is_odd(8)

짝수

In [210]:
def average(*args):
    sum = 0
    for i in args:
        sum = sum + i
    return sum / int(len(args))

average(1,2,3)

2.0

In [ ]:
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = int(input1 + input2)
print("두 수의 합은 %s 입니다" % total)

In [212]:
print(" ".join(["you","need","python"]))

you need python

In [217]:
f1 = open('test.txt','w')
f2.write('Life is too short')
f1.close()

f2 = open('test.txt', 'r')
print(f2.read())
f2.close()

NameError: name 'f2' is not defined